<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeJam-1-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CodeJam-1-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CodeJam-1-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CodeJam-2-1-Large.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CodeJam-2-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CodeJam-2-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CodeJam-2-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CodeJam-2013-1-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB13A2A91555827800FFCCB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB13A2B71555828000FFCCB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB4664A015463B82005790AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB4664C91546430E005790AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB4664D8154644F7005790AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB4664E915464554005790AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB4664FA154645A0005790AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBEBE1FF1717899C004A69B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
